.announcement-bar {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  height: 40px;
  font-size: 15px;
  padding-top: 8px;
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  text-transform: capitalize;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-style: normal;
}

.navbar {
  height: 100px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  font-size: 15px;
  line-height: 18.39px;
}

.navlogo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 38px;
}
.leftlinks a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top: 43px;
  margin-left: 73px;
}
.leftlinks {
  margin-left: 22px;
}

.rightlinks {
  float: right;
  margin-top: 43px;
  margin-right: 95px;
}
.rightlinks a {
  margin-right: 40px;
  color: black;
  text-decoration: none;
}

.navbar a {
  font-weight: bold;
}

i {
  font-size: 18px;
}
.slide {
  background-color: #e9e9e9;
  height: 620px;
  text-transform: none;
}

.searchBar {
  display: none;
  margin: auto;
  margin-top: 25px;
  width: 90%;
}
.searchBarInput {
  border: none;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 10px;
}
.bi-x {
  float: right;
  font-size: 50px;
}
::placeholder {
  color: black;
}
.input {
  border-bottom: 1px solid black;
  width: 95%;
}

.dropdown-content {
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 340px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  right: 220px;
  overflow: scroll;
  height: 145px;
  position: absolute;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

::placeholder {
  font-family: Century Gothic;
}

.containerwrapper {
  padding-top: 100px;
  padding-left: 200px;
  display: inline-block;
  width: 80%;
}
.container img {
  height: 460px;
}
.textcontainer {
  float: right;
  text-align: right;
  line-height: 61.6px;
  width: 581px;
  height: 87px;
  margin-right: 70px;
}
.container {
  width: max-content;
  float: left;
}
.textcontainer h4 {
  font-size: 18px;
  line-height: 150%;
  color: #636363;
}

.textcontainer h1 {
  line-height: 140%;
  font-size: 44px;
  font-weight: 400;
}
.slidebtn {
  background: #000000;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 260px;
  height: 51.44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.07px;
}
@media screen and (max-width: 768px) {
  .logo {
    height: 25px;
  }
  .navbar {
    height: 78px;
  }
  .leftLinksMob {
    margin-top: 25px;
    margin-left: 18px;
    float: left;
  }
  a {
    color: black;
  }
  .bi {
    font-size: 20px;
  }
  .bi-person-circle {
    margin-left: 10px;
    font-size: 18px;
  }
  .rightLinksMob {
    margin-top: 25px;
    margin-right: 5px;
    float: right;
  }
  .rightLinksMob a {
    margin-right: 15px;
  }
  .bi-search,
  .bi-cart {
    font-size: 14px;
  }
  .slide {
    height: max-content;
    position: fixed;
    height: 549px;
    overflow: hidden;
  }
  .textcontainerMob {
    text-align: center;
  }
  .textcontainerMob h1 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
  }
  .textcontainerMob h4 {
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    font-weight: lighter;
  }
  .containerMob {
    margin: auto;
    width: max-content;
  }
  .containerMob img {
    height: 328px;
  }
  .slidebtn {
    width: 260px;
    height: 50.32px;
  }
  .btncontainerMob {
    height: 80px;
    text-align: center;
  }
}
.show {
  display: block;
}
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
}
a {
  color: black;
  text-decoration: none;
}
.linkwrappersidebar {
  margin-left: 95px;
  width: 151px;
  line-height: 48px;
  font-size: 15px;
}

.linkwrappersidebar a:hover {
  color: #17a7e0;
}
.linkwrappersidebar a:hover::after {
  content: ">";
  float: right;
}
.line {
  border: 1px solid #e2e2e2;
  transform: rotate(180deg);
  width: 182px;
}
